﻿

<link rel="import" href="/Plugin/bower_components/polymer/polymer.html">

<dom-module id="gl-currency-formating">
    <template>
        <span class="pull-right">{{money}}</span>
    </template>

    <script>

        Polymer({
            is: "gl-currency-formating",
            properties: {
                money: {
                    type: String,
                    value: "0"
                },
                value: {
                    type: Number,
                    value: 0
                }
            },
            ready: function () {
                var $this = this;
                $this.money = $this.value.toFixed(2).replace(/./g, function (c, i, a) {
                    return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                });
            }
        });
    </script>

</dom-module>