﻿<%@ Master Language="VB" MasterPageFile="~/MasterWithMenu.master" AutoEventWireup="false" CodeFile="Error.aspx.vb" Inherits="Error" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentHolder" Runat="Server">
</asp:Content>

