﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterMain.master" AutoEventWireup="false" CodeFile="Home.aspx.vb" Inherits="Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentHead" runat="Server">
    <!--headstart-->
    <!--headend-->
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentHolder" runat="Server">
    <!--htmlstart-->
    <button onclick="ShowPop()" >ShowPop</button>
    <!--htmlend-->
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentFooter" runat="Server">
    <script>
        //jsstart 
        function fnCallback(json, from, iframeID,opener) {
            clsModal.close(iframeID);
        }
        function ShowPop() {
            clsModal.OpenIframe({ url: '/pop1.aspx?view=popup&opener=view1' });
        }
        //jsend
    </script>
</asp:Content>
