﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterWithMenu.master" AutoEventWireup="false" CodeFile="Main.aspx.vb" Inherits="Main" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentHolder" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentFooter" Runat="Server">
    <script src="/js/routing.js"></script>
</asp:Content>


