﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterWithMenu.master" AutoEventWireup="false" CodeFile="Test2.aspx.vb" Inherits="Test2" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentHolder" runat="Server">
    <!--headstart-->

    <!--headend-->
    <!--htmlstart-->
    
    <form id="con1" runat="server">

    <input type="text" id="Name" data-base="Name" class="val validate[required,custom[email]]" runat="server" />
    
    </form>
    <div id="Div1" runat="server">
        
        <label runat="server">NAme</label>
    <input type="text" id="Text1" data-base="Name" class="val" runat="server" />
    <p data-base="Name" runat="server"></p>
    </div>
    

    <button type="button" onclick="SaveMe()">Save ME</button>

    

<input id="inputStandard" class="form-control" placeholder="Type Here..." type="text">


    <!--htmlend-->
    <script>
        //jsstart

       // clsNoty.error('hi error');
        function SaveMe() {
            if (clsForm.validate('#con1')) {
                var j = clsForm.getControls('#con1');
                j.Target = 'Users';
                j.Action = 'Get';
                clsAjax.ajax({
                    data: j,
                    success: function (json) {
                        debugger
                    }
                })
            }
            else {

                clsNoty.error('hi error');
            }
        }
        //jsend
    </script>
</asp:Content>
