﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterWithMenu.master" AutoEventWireup="false" CodeFile="Test.aspx.vb" Inherits="Test" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentHolder" runat="Server">
    
    <!--headstart-->

    <!--headend-->
    <!--htmlstart-->
    <button type="button" onclick="clsTest_<%= Request("hid") %>.fnSet()">click me</button>
    
    hello
    <input type="text" id="FName" data-base="FName" class="val"

    <!--htmlend-->
    <script>
        //jsstart 
        clsTest_<%= Request("hid") %> = (function () {
            function fnSet() {
                alert(2);
            }
            clsPage.LoaderShow();

            var ajxTest = clsAjax.ajax({
                data: {
                    Target:'Test',
                    Action:'Get'
                },
                success: function (json) {
                  //  alert(JSON.stringify(json));
                }
            });


            $.when(ajxTest).done(function () {
                alert(1);
                clsPage.LoaderHide();
            });

            return {
                fnSet: fnSet
            }
        })();
        //jsend
    </script>
</asp:Content>